.AdministratorsList {
    display: inline-flex;
    margin-left: 1.5em;

    .card-header {
        padding: 0.4em;

        &:hover {
            background-color: darkturquoise;
            border-color: darkturquoise;
        }
    }

    .card-body {
        height: 10em;
        overflow-y: auto;
    }
}

.AdministratorsList_adminUserRow {
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        background-color: darkturquoise;
        border-color: darkturquoise;
        color: black;
    }
}
