.ExpandButton {
    background-color: #f7f7f7;
    border-color: #dfdfdf;
    box-shadow: initial;
    display: inline-flex;
    margin-left: 1.5em;

    &:hover {
        background-color: darkturquoise;
        border-color: darkturquoise;
    }

    &:focus {
        @extend .ExpandButton;
    }
}
