.PanelRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: solid 1px #dfdfdf;

    &:first-child {
        border-top: 0;
    }
}

.PanelRow_value {
    font-weight: bold;
}
