@import "util.scss";

.Status {
    display: block;
    height: 80%;
    margin-left: 1em;
    mask-size: contain !important;
    mask-repeat: no-repeat !important;

    &.active,
    &.inactive {
        mask: url("#{$img}/status.svg");
    }

    &.active {
        background-color: limegreen;
    }

    &.inactive {
        background-color: red;
    }

    &.invited {
        mask: url("#{$img}/pending-invitation.svg");
        background-color: black;
    }
}

.selectedRow .Status {
    background-color: white !important;
}
