@import "util.scss";

.Status_base {
    mask-size: contain !important;
    mask-repeat: no-repeat !important;

    &.active,
    &.inactive {
        mask: url("#{$img}/status.svg");
    }

    &.active {
        background-color: limegreen;
    }

    &.inactive {
        background-color: red;
    }

    &.new {
        mask: url("#{$img}/new-room.svg");
        background-color: black;
    }
}

.Status {
    @extend .Status_base;
    display: block;
    height: 80%;
    margin-left: 1em;
}

.ItemTable_row-selected .Status {
    background-color: white !important;
}
