@import "./DashboardPanel.scss";

.UsersDashboardPanel_panelSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;

    .PanelRow {
        width: initial;
        margin-left: 2em;
        &:first-of-type {
            border-top: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.UsersDashboardPanel_panelSectionTitle {
    font-size: 1.15em;
}
