.delayed {
    animation: 0s linear 0.5s forwards makeVisible;
    visibility: hidden;
}

@keyframes makeVisible {
    to {
        visibility: visible;
    }
}

.fullCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginForm {
    max-width: 25em;
    text-align: center;
}

.logo {
    width: 10em;
    height: auto;
    max-width: 75vw;
    max-height: 30vh;
}

.tab-content {
    display: flex;
    height: 100%;
    min-height: 1%;
}

.tab-pane.active {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#tabs-tabpane-dashboard {
    overflow-y: auto;
}

.loadingLoginButton {
    display: flex;
    align-items: center;
}

.searchBox {
    max-width: 20em;
}

.searchBox .emptyFilter {
    border-right: 0;
}

.searchBox .clearButton {
    border-left: 0;
    background-color: transparent;
    font-size: small;
    cursor: pointer;
}

.rightRoundedInput {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.tableContainer {
    display: flex;
    overflow: auto;
    width: 100%;
}

.newRoomIframe {
    width: 510px;
    height: 278px;
    border: 0;
}
