.delayed {
    animation: 0s linear 0.5s forwards makeVisible;
    visibility: hidden;
}

@keyframes makeVisible {
    to {
        visibility: visible;
    }
}

.fullCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginForm {
    max-width: 25em;
    text-align: center;
}

.logo {
    width: 10em;
    height: auto;
    max-width: 75vw;
    max-height: 30vh;
}

.tab-content {
    display: flex;
    height: 100%;
    min-height: 1%;
}

.tab-pane.active {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loadingLoginButton {
    display: flex;
    align-items: center;
}

.searchBox {
    max-width: 20em;
}

.searchBox .emptyFilter {
    border-right: 0;
}

.searchBox .clearButton {
    border-left: 0;
    background-color: transparent;
    font-size: small;
    cursor: pointer;
}

.newUserButton {
    display: flex;
    align-items: center;
}

.newUserButton::before {
    content: "";
    mask: url("./images/new-user.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 1.5em;
    height: 1.2em;
    margin-right: 0.5em;
    background-color: white;
}

.rightRoundedInput {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.tableTabBody {
    display: flex;
    min-height: 1%;
}

.tableContainer {
    display: flex;
    overflow: auto;
    width: 100%;
}

.table {
    outline: none;
}

th {
    position: sticky;
    top: 0;
    border: 0 !important;
    background-color: white;
    background-clip: padding-box;
}

th:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid black;
}

th:hover {
    background-color: darkturquoise;
}

.tableHeader {
    display: flex;
    align-items: center;
}

.chevron {
    mask: url("./images/arrow-down-angle.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    width: 0.8em;
    height: 0.8em;
    margin-left: 1em;
    background-color: black;
    transition: transform 0.2s ease-in;
}

.chevronUp {
    transform: rotateZ(-180deg);
}

.chevronHidden {
    visibility: hidden;
}

.selectedRow {
    background-color: darkgrey !important;
}

td .active {
    color: green;
}

td .inactive {
    color: red;
}

.rowSelected {
    background: #00e5e5;
    color: white !important;
}

.bottomButtons {
    margin: auto;
    width: 200px;
    margin-bottom: 10px;
}

.rightPanel {
    height: 100%;
    width: 30vw;
}

.trueBoolean {
    color: green;
}

.page-header {
    margin: 40px 49px 20px;
}

.falseBoolean {
    color: red;
}

.filtersOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refreshButton {
    margin-right: 20px;
}

.card-header.header-with-button {
    display: flex;
    justify-content: space-between;
}

.fas {
    line-height: inherit;
}

/* DashboardTab : */

.dashboardPanelsContainer {
    display: flex;
    font-size: 18px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding: 1.25rem;
    align-items: space-between;
}

.dashboardPanel {
    display: flex;
    width: 100%;
    flex: 1;
    margin: 1.25rem;
    background-color: white;
}

#tabs-tabpane-dashboard .dashboardPanel{
    margin-left: unset;
}

.dashboardPanel .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardPanelSection {
    padding: 1rem;
    font-size: 1rem;
}

.watcha-legend {
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    width: auto;
}

.watcha-fieldset {
    border: 2px solid;
    border-width: 80%;
    width: 100%;
}

.dashboardPanelSection tr:first-child td {
    border: none;
    margin-left: 1rem;
}

.watcha-fieldset tr:first-child td {
    border: none;
    margin-left: 1rem;
}

.sectionPanelData {
    text-align: right;
    font-weight: bold;
}

.sectionPanelAdminListLabel .card-header {
    padding: unset;
    background-color: unset;
    border: unset;
    display: inline-block;
}

.sectionPanelAdminListLabel .card-header:hover {
    background-color: darkturquoise;
    cursor: pointer;
    color: white;
}

.sectionPanelAdminListLabel .card {
    margin: unset;
    border: unset;
}

.sectionPanelAdminListLabel .adminUserRow:hover {
    background-color: darkturquoise;
    cursor: pointer;
    color: white;
}

.dashboardAdministrateButton:hover {
    cursor: pointer;
    background-color: darkturquoise;
    border-color: darkturquoise;
}

.noRoomsMessage {
    font-weight: bold;
}

.tooltipMessage {
    font-style: italic;
}

#tabs-tabpane-dashboard .refreshButton {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* end of DashboardTab : */

.dismissRight {
    cursor: pointer;
}

.email.form-group {
    display: flex;
    align-items: baseline;
}

.labelText {
    font-size: 14px;
    font-weight: 700;
}

.bottomButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ActivationButton {
    width: 300px;
    margin-bottom: 10px;
}

.TableToolBar {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.table-responsive {
    max-height: 92vh;
}

.table-responsive {
    flex-grow: 1;
}

.checkboxfilter {
    display: flex;
    margin-top: 2vh;
}

.checkboxfilter label {
    margin-left: 4px;
}

.checkboxfilter input {
    margin-left: 2px;
}

.usersPanel {
    height: none;
    width: none;
}

.inputValue {
    margin-right: 12px;
    font-size: 14px;
}

.inputValue.disabled {
    margin-right: 12px;
    font-size: 14px;
    background: #e3e3e3;
}

.textFilter {
    margin-top: 1vh;
    margin-right: 8px;
}

.AdminName {
    cursor: pointer;
}

.ServerStatePanelBody {
    background: grey;
}

.TableAdvanced {
    display: block;
    overflow-y: auto;
    max-height: 30vh;
}

.Error {
    color: red;
}

.Warning {
    color: rgb(245, 153, 16);
}

.Log {
    color: blue;
}
