/*User*/
.rowSelected{
  background: #00E5E5;
  color: white !important;

}

.rightPanel{
  height: 90vh;
  width: 30vw;
}

.trueBoolean{
  color:green;
}

.falseBoolean{
  color:red;
}

.checkboxInfo{

}
.filtersOption{
  display: flex;
  max-width: 35vw;
  justify-content: space-between;
  align-items: center;
}

.panel-title{
  display: flex;
  justify-content: space-between;
}

.statsPanelContent{
  display: flex;
    justify-content: space-between;
}

.statsPanelsContainer{
  display: flex;
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.statsPanel{
  flex-grow: 1;
  margin:2vw;
  background-color: #337ab7;
  color: white;
}

.dismissRight{
  right: 2px;
  top: 3px;
  cursor: pointer;
}

.email.form-group{
  display: flex;
  align-items: baseline;
}

.form-control{
  margin-left: 10px;
}

.labelText{
  font-size: 14px;
  font-weight: 700;
}

.bottomButton{
  display: flex;
  justify-content: space-around;
}

.TableToolBar{
}

.table-responsive{
  max-height: 92vh;
}

.tableContainer{
  display: flex;
}

.table-responsive{
  flex-grow: 1;
}

.checkboxfilter{
  display: flex;
  margin-top: 2vh;
}
.checkboxfilter label{
  margin-left: 4px;
}

.checkboxfilter input{
  margin-left: 2px;
}
.usersPanel{
  height: none;
  width: none;
}

.inputValue{
  margin-right: 12px;
  font-size: 14px;
}

.inputValue.disabled{
  margin-right: 12px;
  font-size: 14px;
  background: #e3e3e3;
}

.textFilter{
  margin-top: 1vh;
}

.AdminName{
  text-decoration: underline;
  cursor: pointer;
}

.ServerStatePanelBody{
  background: grey;
}

.StatsTitle{
  cursor: pointer;
}

.TableAdvanced{
  display: block;
  overflow-y: auto;
  max-height: 30vh;
}

.Error{
  color:red;
}

.Warning{
  color:rgb(245, 153, 16);

}
.Log{
  color:blue;
}
