/*User*/
.rowSelected{
  background: cyan;

}

/*collapsedRightPanel*/
.panel{
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 30vw;
}

.checkboxInfo{

}

.pannelContainer{

}

.email.form-group{
  display: flex;
  align-items: baseline;
}
.form-control{
  margin-left: 10px;
}

.infoText{
  font-size: 14px;
}

.labelText{
  font-size: 14px;
  font-weight: 700;
}

.bottomButton{
  display: flex;
  justify-content: space-around;
}
